/* src/pages/HomePage.css */
.home-page {
    padding: 20px;
  }
  
  .navigate-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .navigate-button:hover {
    background-color: #45a049;
  }
  